.navbar-brand{
    padding-left: 3%;
    color: white !important;
    font-family: 'Aladin', cursive;
    
}
.navbar{
    background: #4e1a3d !important;
}
.navbar-nav{
    margin-left: auto;
    padding-right: 5%;
}
.icon{
    padding-right: 10px;
}