<h2 class="text-center mt-3">SEARCH FOR GITHUB USERS AND REPOSITORIES </h2>
<div class="container mt-5">
  <div class="col-md-5">
    <form (submit)="getUserData()">
      <div class="form-group row">
        <label for="username" class=" col-form-label text-center"><img src="assets/logo.png" alt="" height="70" width="200"> </label>
        <div class="mt-3">
          <input type="text" class="form-control" id="username" placeholder="Enter username..." [formControl]="username" required>
          <button class="btn" (click) = "showUser()"> SEARCH USER</button>
        </div>
      </div>
      
    </form>
  </div>
  <p>value:{{username.value}}</p>
</div>
